<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/map.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <script src="../js/libs/socket.io.js"></script>
    <script src="../js/socketFunction.js"></script>
    <script src="../js/statusall.js"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <title>Drone All | Status</title>
</head>

<body style="position: relative">

<!-- It is the div which renders the google map api -->
<div class="container-fluid-fill">

    <div id="map">
    </div>

    <div class="top-row">
        <img class="image-logo img-fluid" src="../js/files/logo.png">
    </div>

    <div class="top-row">
        <div class="nic-text">NIC Drone Status</div>
    </div>

</div>

<!-- Script for map rendering and callback with the initmap written in the status.js -->
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNUtR_Hd9ugjnH08edqKfyahIxxTuD6D4&callback=initmap">
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../js/libs/jquery-3.2.1.slim.min.js"></script>
<script src="../js/libs/popper.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script async defer src="../js/libs/math.min.js"></script>
<script async defer src="../js/function.js"></script>

</body>


</html>