body, html {
    height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#dataSat {
	color: black;
	position: absolute;
	top: 20px;
	left: 25px;
	width: 160px;
	height: auto;
}

#dataSat1 {
	color: black;
	position: absolute;
	top: 90px;
	left: 25px;
	width: 250px;
	height: auto;
}


#dataVel {
	color: black;
	position: absolute;
	top: 380px;
	left: 25px;
	width: 100px;
	height: auto;
}

#dataOther {
	color: black;
	position: absolute;
	bottom: 50px;
	left: 25px;
	width: 200px;
	height: auto;
}

.trans {
	float: left;
	background: transparent;
}

#ReadMission {
	color: black;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 180px;
	height: auto;
}

#DownloadMission {
	color: black;
	position: absolute;
	top: 60px;
	right: 20px;
	width: 180px;
	height: auto;
}

#ClearMission {
	color: black;
	position: absolute;
	top: 100px;
	right: 20px;
	width: 180px;
	height: auto;
}

#raduiusInput {
	color: black;
	position: absolute;
	top: 140px;
	right: 20px;
	width: 180px;
	height: auto;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}