body, html {
    height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#dataSat {
	color: yellow;
	position: absolute;
	top: 50px;
	left: 25px;
	width: auto;
	height: auto;
}

#dataSat1 {
	color: yellow;
	position: absolute;
	top: 130px;
	left: 25px;
	width: auto;
	height: auto;
}


#dataVel {
	color: yellow;
	position: absolute;
	top: 340px;
	left: 25px;
	width: auto;
	height: auto;
}

#dataOther {
	color: yellow;
	position: absolute;
	bottom: 50px;
	left: 25px;
	width: auto;
	height: auto;
}

.trans {
	float: left;
	background: transparent;
}
